langchain
tiktoken
langchain_community
bs4
requests
groq
torch
python-dotenv
transformers
sentence_transformers
langchain_groq
pypdf
tavily-python
lxml
chromadb
PIL
langchain-huggingface
streamlit
nest_asyncio
langchain-chroma
